.my_cube{
    width: 50px;
    height: 50px;
    background-color:brown;
    opacity: 0.6;
    position: absolute;
    padding: 25;
    text-align: center;
    
}

#div_id  #p_id{

    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#div_id{
    border: 2px solid violet;
    border-width: 20px;
    text-align: center;
}
.center{
    position: absolute;
    left: 60%;
    top: 30%;
    transform: translate(-50%, -50%); /* Yep! */
    width: 48%;
    height: 59%;
 text-align: center;
}

.main_class{

    color: #FFFFFF;
    background-color: green;
    background: content-box radial-gradient(crimson, skyblue);

}

#main_id{
    background-color: yellow;
}